.upload_top {
  background-color: #3aae4a;
  color: #fff;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.upload_top h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.upload_photo_box {
  margin: 1rem;
}

.upload_window {
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);

  text-align: center;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
