.login-container {
  padding: 0 20px;
  .login-heading {
    font-size: 34px;
    margin: 16px 0;
  }

  img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  .input-field {
    width: 100%;
    margin-bottom: 12px;
  }
}
